$red: #FF0000;
$orange: #FF7400;
$yellow: #DCF900; 
$green: #00CC00;
$blue: #009999;
$purple: #9004A8;

//http://paletton.com/#uid=7000u0kw0w0jyC+oRxVy4oIDfjr
//http://paletton.com/#uid=700220kw0w0jyC+oRxVy4oIDfjr
// body {
// 	background: black;
// 	color: white;
// }
.courses {
	display: inline-block;
}
.subject {
	height: 175px;
	width: 350px;
	border: 1px solid; 
	border-radius: 2%;
	margin: 15px; 
	
}

.subject p {
	text-decoration: none;
	color: white;
	font-size: 40px;
	text-align: center;
}

#sub1 {
	background: $blue;
	border-color: darken($blue, 10%);
	float: left;

}

#sub2 {
	background: $green;
	border-color: darken($green, 10%);
	float: left;
}

#sub3 {
	background: $purple;
	border-color: darken($purple, 10%);
	float: left;
}

#sub4 {
	background: $yellow;
	border-color: darken($yellow, 10%);
	float: right;
}

#sub5 {
	background: $red;
	border-color: darken($red, 10%);
	float: right;
}

#sub6 {
	background: $orange;
    border-color: darken($orange, 10%);
    float: right;
}