{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Quiz{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'app/styles/quiz.css' %}">
{% endblock %}

{% block content %}
  {% verbatim %}
    <main ng-controller="QuizController">
      <h1>Quiz View</h1>
      <div id="quiz">
        <div class="question" ng-bind-html="current.question"></div>
        <div class="answer">
          <input type="text" ng-repeat="answer in answerBoxes track by $index" ng-model="answer">
        </div>
        <div class="quiz-nav">
          <button class="button-nav prev" ng-click="nav('prev')">prev</button>
          <button class="button-nav next" ng-click="nav('next')">next</button>
        </div>
      </div>
    </main>
  {% endverbatim %}
{% endblock %}


{% block scripts %}
  <script src="{% static 'app/js/controllers/quiz.controller.js' %}"></script>
{% endblock %}