{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Quiz{% endblock %}

{% block content %}
  {% verbatim %}
    <main ng-controller="MainController">
      <h1>Quiz View</h1>
      <div id="quiz">
        <div class="question">
          {{current.question}}
        </div>
        <div class="answer">
          <input type="text" ng-repeat="answer in current.answers">
        </div>
      </div>
    </main>
  {% endverbatim %}
{% endblock %}


{% block scripts %}
  <script src="{% static 'app/js/controllers/quiz.controller.js' %}"></script>
{% endblock %}