{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Student View{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'app/styles/student.css' %}">
{% endblock %}

{% block content %}  
  {% verbatim %}
    <main ng-controller="StudentController">
      <div id="heading">
        <h1> Welcome {{student.firstName}}</h1> 
        <div id="points"> {{student.classPoints}} points </div> 
      </div>

      <div class="courses" ng-repeat="course in student.courses">
        <a ng-href="#"> <div id="sub{{course.period}}" class="subject"> <p> {{course.subject}} </p> </div> </a>
      </div>
    </main>
  {% endverbatim %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'app/js/controllers/student.controller.js' %}"></script>
{% endblock %}