<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../css/teacher.css">
</head>
<body>

    <div id="container" class="center">
        <aside id="nav-bar" class="left">
            <nav id="nav-main" class="center-text">
                <ul>
                    <li>Dashboard</li>
                    <li>Grade Book</li>
                    <li>Lesson Plans</li>
                    <li>Assignments</li>
                    <li>Behavior Points</li>
                </ul>
            </nav>
        </aside>
        <div id="content" class="left clearfix">
            <h2 class="center-text">Dashboard</h2>
        </div>
    </div>

</body>
</html>