<!DOCTYPE html>
<html>
<head>
    <title>Grade Book</title>
    <link rel="stylesheet" type="text/css" href="../css/teacher.css">
</head>
<body>

<div id="container">
    <aside id="nav-bar" class="left">
        <nav id="nav-main" class="center-text">
            <ul>
                <li>Dashboard</li>
                <li>Grade Book</li>
                <li>Lesson Plans</li>
                <li>Assignments</li>
                <li>Behavior Points</li>
            </ul>
        </nav>
    </aside>
    <div id="content" class="left clearfix">
        <h2 class="center-text">Gradebook</h2>
        <table id="grades" class="center center-text">
            <tr class="table-title">
                <td>Student Name</td>
                <td>Overall Score</td>
                <td>Assignment 1</td>
                <td>Assignment 2</td>
            </tr>
            <tr>
                <td>Ally Nicole</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Mandy Brocklehurst</td>
                <td>3+</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Bradley Harris</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>